<h2>Create Profile</h2>

<form class="" action="<%= users_url %>" method="post">
  <%= auth_token %>

  <p>
    <label>Email:
      <input type="text" name="user[email]">
    </label>
  </p>

  <p>
    <label>Password:
      <input type="password" name="user[password]">
    </label>
  </p>

  <br>
  <br>
  <input type="submit" value="Create Profile">

</form>
